# Gulp Task source
snippet gus
	gulp.task('${1}', function () {
		return gulp.src(${2})
		.pipe(${3}(${4}))${5}
	});

# Gulp Task Watch
snippet guw
	gulp.task('watch', function () {
		gulp.watch('${1}', ['${2}'])${3}
	});

# Gulp Watch
snippet gug
	gulp.watch('${1}', ['${2}']);${3}

# Gulp pipe
snippet gup
	.pipe(${1}('${2}'))${3}

# Gulp pipe bracket
snippet gupb
	.pipe(${1}({ ${2}: '${3}' }))${4}

# Gulp var require
snippet guv
	var ${1} = require('gulp-${2}');${3}



