<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>options</key>
	<dict>
		<key>calibration</key>
		<data>
		YnBsaXN0MDDSAQIDBFRuYW1lVGNvZGVbU2V0aCBNZXNzZXJeTE1TQi01NTc3
		LTEyNDcIDRIXIwAAAAAAAAEBAAAAAAAAAAUAAAAAAAAAAAAAAAAAAAAy
		</data>
	</dict>
	<key>settings</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>addr</key>
			<integer>0</integer>
			<key>altid</key>
			<integer>0</integer>
			<key>app</key>
			<string>Any Application</string>
			<key>dev</key>
			<string>Any Mouse</string>
			<key>exec</key>
			<string></string>
			<key>hid</key>
			<dict>
				<key>0001.0032</key>
				<dict>
					<key>+</key>
					<dict>
						<key>axis</key>
						<integer>1</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>1</integer>
					</dict>
					<key>-</key>
					<dict>
						<key>axis</key>
						<integer>1</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>-1</integer>
					</dict>
				</dict>
				<key>0001.0038</key>
				<dict>
					<key>+</key>
					<dict>
						<key>axis</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>255</integer>
					</dict>
					<key>-</key>
					<dict>
						<key>axis</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>-255</integer>
					</dict>
					<key>c+</key>
					<dict>
						<key>axis</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>254</integer>
					</dict>
					<key>c-</key>
					<dict>
						<key>axis</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>-254</integer>
					</dict>
				</dict>
				<key>0009.0001</key>
				<dict>
					<key>b</key>
					<dict>
						<key>btn</key>
						<integer>1</integer>
						<key>clk</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>10</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0002</key>
				<dict>
					<key>b</key>
					<dict>
						<key>btn</key>
						<integer>2</integer>
						<key>clk</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>10</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0003</key>
				<dict>
					<key>b</key>
					<dict>
						<key>btn</key>
						<integer>3</integer>
						<key>clk</key>
						<integer>0</integer>
						<key>cmd</key>
						<integer>10</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0004</key>
				<dict>
					<key>b</key>
					<dict>
						<key>char</key>
						<integer>91</integer>
						<key>cmd</key>
						<integer>16</integer>
						<key>mod</key>
						<integer>256</integer>
					</dict>
				</dict>
				<key>0009.0005</key>
				<dict>
					<key>b</key>
					<dict>
						<key>char</key>
						<integer>93</integer>
						<key>cmd</key>
						<integer>16</integer>
						<key>mod</key>
						<integer>256</integer>
					</dict>
				</dict>
				<key>0009.0007</key>
				<dict>
					<key>b</key>
					<dict>
						<key>axis</key>
						<integer>1</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>254</integer>
					</dict>
				</dict>
				<key>0009.0008</key>
				<dict>
					<key>b</key>
					<dict>
						<key>axis</key>
						<integer>1</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>-254</integer>
					</dict>
				</dict>
				<key>000C.0238</key>
				<dict>
					<key>+</key>
					<dict>
						<key>axis</key>
						<integer>1</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>-1</integer>
					</dict>
					<key>-</key>
					<dict>
						<key>axis</key>
						<integer>1</integer>
						<key>cmd</key>
						<integer>30</integer>
						<key>cnt</key>
						<integer>1</integer>
					</dict>
				</dict>
			</dict>
			<key>opt</key>
			<dict>
				<key>accel</key>
				<real>0.69999998807907104</real>
				<key>dpi</key>
				<integer>400</integer>
				<key>invx</key>
				<false/>
				<key>invy</key>
				<false/>
				<key>swxy</key>
				<false/>
				<key>wake</key>
				<true/>
				<key>wheel</key>
				<integer>3</integer>
			</dict>
			<key>pid</key>
			<integer>0</integer>
			<key>rel</key>
			<integer>0</integer>
			<key>sign</key>
			<string></string>
			<key>type</key>
			<string>mouse</string>
			<key>vers</key>
			<integer>1</integer>
			<key>vid</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>addr</key>
			<integer>0</integer>
			<key>altid</key>
			<integer>0</integer>
			<key>app</key>
			<string>Any Application</string>
			<key>dev</key>
			<string>Any Gaming</string>
			<key>exec</key>
			<string></string>
			<key>hid</key>
			<dict>
				<key>0001.0030</key>
				<dict>
					<key>t+</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
					<key>t-</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0001.0031</key>
				<dict>
					<key>t+</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
					<key>t-</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0001</key>
				<dict>
					<key>b</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0002</key>
				<dict>
					<key>b</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0003</key>
				<dict>
					<key>b</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>0009.0004</key>
				<dict>
					<key>b</key>
					<dict>
						<key>cmd</key>
						<integer>11</integer>
						<key>key</key>
						<integer>255</integer>
						<key>mod</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<key>opt</key>
			<dict>
				<key>move</key>
				<integer>0</integer>
				<key>sens</key>
				<integer>60</integer>
			</dict>
			<key>pid</key>
			<integer>0</integer>
			<key>rel</key>
			<integer>0</integer>
			<key>sign</key>
			<string></string>
			<key>type</key>
			<string>gaming</string>
			<key>vers</key>
			<integer>1</integer>
			<key>vid</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>addr</key>
			<integer>0</integer>
			<key>altid</key>
			<integer>0</integer>
			<key>app</key>
			<string>Any Application</string>
			<key>dev</key>
			<string>Any Keyboard</string>
			<key>exec</key>
			<string></string>
			<key>hid</key>
			<dict/>
			<key>opt</key>
			<dict>
				<key>cmdopt</key>
				<false/>
			</dict>
			<key>pid</key>
			<integer>0</integer>
			<key>rel</key>
			<integer>0</integer>
			<key>sign</key>
			<string></string>
			<key>type</key>
			<string>keyboard</string>
			<key>vers</key>
			<integer>1</integer>
			<key>vid</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>addr</key>
			<integer>0</integer>
			<key>altid</key>
			<integer>0</integer>
			<key>app</key>
			<string>Any Application</string>
			<key>dev</key>
			<string>Any Other</string>
			<key>exec</key>
			<string></string>
			<key>hid</key>
			<dict>
				<key>0001.0082</key>
				<dict>
					<key>b</key>
					<dict>
						<key>cmd</key>
						<integer>13</integer>
						<key>key</key>
						<integer>127</integer>
					</dict>
				</dict>
				<key>000C.00B5</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>44</integer>
						<key>play</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>000C.00B6</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>44</integer>
						<key>play</key>
						<integer>2</integer>
					</dict>
				</dict>
				<key>000C.00B7</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>44</integer>
						<key>play</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>000C.00CD</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>44</integer>
						<key>play</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>000C.00E2</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>13</integer>
						<key>key</key>
						<integer>74</integer>
					</dict>
				</dict>
				<key>000C.00E9</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>13</integer>
						<key>key</key>
						<integer>60</integer>
					</dict>
				</dict>
				<key>000C.00EA</key>
				<dict>
					<key>*</key>
					<dict>
						<key>cmd</key>
						<integer>13</integer>
						<key>key</key>
						<integer>61</integer>
					</dict>
				</dict>
				<key>000C.0224</key>
				<dict>
					<key>*</key>
					<dict>
						<key>char</key>
						<integer>91</integer>
						<key>cmd</key>
						<integer>16</integer>
						<key>mod</key>
						<integer>256</integer>
					</dict>
				</dict>
				<key>000C.0225</key>
				<dict>
					<key>*</key>
					<dict>
						<key>char</key>
						<integer>93</integer>
						<key>cmd</key>
						<integer>16</integer>
						<key>mod</key>
						<integer>256</integer>
					</dict>
				</dict>
			</dict>
			<key>opt</key>
			<dict>
				<key>sens</key>
				<integer>60</integer>
			</dict>
			<key>pid</key>
			<integer>0</integer>
			<key>rel</key>
			<integer>0</integer>
			<key>sign</key>
			<string></string>
			<key>type</key>
			<string>other</string>
			<key>vers</key>
			<integer>1</integer>
			<key>vid</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
